<section class="about-section container" id="about">
    <h2 class="visually-hidden">About me</h2>
    <div class="about-wraper">
        <div class="about-discription">
            <h2 class="about-discription-title">
                I work with people all over the world to create impressive and 
                <span class="accent-color-fun">functional</span> <span class="accent-color-web">websites</span> that reflect each 
                client's unique personality.
            </h2>
        </div>
        <picture class="about-discription-picture">
            <source srcset="
            ../img/About-me/About-me-desctop.png    1x,
            ../img/About-me/About-me-desctop@2x.png 2x"
            media="(min-width: 1280px)"/>
            <source srcset="
            ../img/About-me/About-me-tablet.png    1x,
            ../img/About-me/About-me-tablet@2x.png 2x"
            media="(min-width: 768px)"/>
            <source srcset="
            ../img/About-me/About-me-mobile.png    1x,
            ../img/About-me/About-me-mobile@2x.png 2x"
            media="(max-width: 767px)"/>
            <img class="about-discription-img" src="../img/About-me/About-me-mobile.png" alt="image-foto">
        </picture>
    </div>
    <ul class="about-education">
        <li class="about-education-list">
            <div class="about-education-container">
                <h3 class="about-education-title">Aboute me</h3>
                <button type="button" class="about-accordion">
                    <svg class="about-arrow" width="20" height="20" aria-label="icon-arrow-down">
                        <use href="../img/icons.svg#icon-arrow-down"></use>
                    </svg>
                </button>
            </div>
            <ul class="about-education-text">
                <li class="about-text-list">
                    I am Lloyd Jefferson, a talented programmer with extensive expertise in software development.
                    I have an understanding of different programming languages and technologies, always ready to improve my skills. 
                    I always follow the latest trends and look for unconventional, creative solutions to problems. 
                    I have a high level of analytical skills and am able to effectively solve even the most difficult tasks encountered on the way.
                </li>
                <li class="about-text-list">
                    Able to work both independently and in a team. I can effectively cooperate with colleagues, exchanging ideas and finding optimal solutions. 
                    Professional maturity allows you to calmly cope with challenges and stressful situations, while maintaining a high quality of work.
                    I am always looking for opportunities for self-improvement. 
                    I actively study new technologies and practices to stay abreast of the latest innovations. 
                    I have a strong understanding of various programming languages, frameworks 
                    and architectural concepts that allow me to create efficient and scalable software.
                </li>
            </ul>
        </li>
        <li class="about-education-list">
            <div class="about-education-container">
                <h3 class="about-education-title">Role</h3>
                <button type="button" class="about-accordion">
                    <svg class="about-arrow" width="20" height="20" aria-label="icon-arrow-down">
                        <use href="../img/icons.svg#icon-arrow-down"></use>
                    </svg>
                </button>
            </div>
            <ul class="about-text-role-education">
                <li class="about-text-list">Frontend development</li>
                <li class="about-text-list">HeadlessCMS,Wordpress</li>
                <li class="about-text-list">Blender(enjoy)</li>
            </ul>
        </li>
        <li class="about-education-list">
            <div class="about-education-container">
                <h3 class="about-education-title">Education</h3>
                <button type="button" class="about-accordion">
                    <svg class="about-arrow" width="20" height="20" aria-label="icon-arrow-down">
                        <use href="../img/icons.svg#icon-arrow-down"></use>
                    </svg>
                </button>
            </div>
            <ul class="about-text-role-education">
                <li class="about-text-list">2018 - 2019  / Frontend Development Diploma, GoIT IT School, New York</li>
                <li class="about-text-list">2019 - 2020 / Advanced Web Development Certificate, GoIT IT School, New York</li>
                <li class="about-text-list">2020 - 2022 / Advanced Blender Animation Techniques, Udemy</li>
            </ul>
        </li>
    </ul>
    <div class="about-swiper swiper">
        <ul class="about-skills swiper-wrapper">
            <li class="about-skills-list swiper-slide">
                <span class="skills-list-item">HTML/CSS</span>
            </li>
            <li class="about-skills-list swiper-slide">
                <span class="skills-list-item">JavaScript</span>
            </li>
            <li class="about-skills-list swiper-slide">
                <span class="skills-list-item">React</span>
            </li>
            <li class="about-skills-list swiper-slide">
                <span class="skills-list-item">Node. js</span>
            </li>
            <li class="about-skills-list swiper-slide">
                <span class="skills-list-item"> React Native</span>
            </li>
            <li class="about-skills-list swiper-slide">
                <span class="skills-list-item">Soft skills</span>
            </li>
        </ul>
        <div class="about__swiper-button-next"></div>
        <!-- <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div> -->
    </div>
</section>
