<section class="covers">
  <div class="content">
    <h2 class="visually-hidden">Covers</h2>
    <div class="marquee">
      <ul class="marquee__inner">
        <li class="marquee__line">
          <img
            srcset="./img/covers-img/1-1x.jpg, ./img/covers-img/1-2x.jpg"
            src="./img/covers-img/1-1x.jpg"
            width="600"
            alt="Fitness Project"
          />
        </li>
        <li class="marquee__line">
          <img
            srcset="./img/covers-img/2-1x.jpg, ./img/covers-img/2-2x.jpg"
            src="./img/covers-img/2-1x.jpg"
            width="600"
            alt="Hotel Project"
          />
        </li>
        <li class="marquee__line">
          <img
            srcset="./img/covers-img/3-1x.jpg, ./img/covers-img/3-2x.jpg"
            src="./img/covers-img/3-1x.jpg"
            width="600"
            alt="Designer embroidered shirts Project"
          />
        </li>
      </ul>
      <ul class="marquee__inner">
        <li class="marquee__line">
          <img
            srcset="./img/covers-img/4-1x.jpg, ./img/covers-img/4-2x.jpg"
            src="./img/covers-img/4-1x.jpg"
            width="600"
            alt="Vegetables shop Project"
          />
        </li>
        <li class="marquee__line">
          <img
            srcset="./img/covers-img/5-1x.jpg, ./img/covers-img/5-2x.jpg"
            src="./img/covers-img/5-1x.jpg"
            width="600"
            alt="Online wallet Project"
          />
        </li>
        <li class="marquee__line">
          <img
            srcset="./img/covers-img/6-1x.jpg, ./img/covers-img/6-2x.jpg"
            src="./img/covers-img/6-1x.jpg"
            width="600"
            alt="Jewelry shop Project"
          />
        </li>
      </ul>
      <ul class="marquee__inner">
        <li class="marquee__line">
          <img
            srcset="./img/covers-img/8-1x.jpg, ./img/covers-img/8-2x.jpg"
            src="./img/covers-img/8-1x.jpg"
            width="600"
            alt="Fruits shop Project"
          />
        </li>
        <li class="marquee__line">
          <img
            srcset="./img/covers-img/9-1x.jpg, ./img/covers-img/9-2x.jpg"
            src="./img/covers-img/9-1x.jpg"
            width="600"
            alt="English school Project"
          />
        </li>
        <li class="marquee__line">
          <img
            srcset="./img/covers-img/10-1x.jpg, ./img/covers-img/10-2x.jpg"
            src="./img/covers-img/10-1x.jpg"
            width="600"
            alt="Business development service Project"
          />
        </li>
      </ul>
      <ul class="marquee__inner">
        <li class="marquee__line">
          <img
            srcset="./img/covers-img/7-1x.jpg, ./img/covers-img/7-2x.jpg"
            src="./img/covers-img/7-1x.jpg"
            width="600"
            alt="Fitness and nutrition Project"
          />
        </li>
      </ul>
    </div>
  </div>
</section>
