<header class="header">
  <div class="header-container">
    <a class="header-logo" href="./index.html">
      <img
        class="header-logo-img"
        src="./img/logo-png.png"
        alt="logo-img"
        width="80"
        height="80"
      />
    </a>
    <div class="title-logo">jefferson*</div>
    <div class="menu-checkbox">
      <nav class="nav">
        <input id="menu" type="checkbox" data-menu-input />
        <label for="menu">Menu</label>
        <ul class="menu" data-menu-item="">
          <li>
            <a href="#about" aria-label="About me" alt="About me">
              <svg width="28" height="28" class="menu-svg">
                <use href="./img/icons.svg#icon-menu-aboutme"></use>
              </svg>
              <span class="menu-item-about">About me</span>
            </a>
          </li>
          <li>
            <a href="#benefits" aria-label="About me" alt="About me">
              <svg width="26" height="26" class="header-menu-svg">
                <use
                  href="./img/icons.svg#icon-menu-benefits"
                  class="menu-svg"
                ></use>
              </svg>
              <span class="menu-item">Benefits</span>
            </a>
          </li>
          <li>
            <a href="#projects" aria-label="Projects" alt="Projects">
              <svg width="28" height="28" class="menu-svg">
                <use href="./img/icons.svg#icon-menu-projects"></use>
              </svg>
              <span class="menu-item">Projects</span>
            </a>
          </li>
          <li>
            <a href="#faq" aria-label="FAQ" alt="FAQ">
              <svg width="28" height="28" class="menu-svg">
                <use href="./img/icons.svg#icon-menu-faq"></use>
              </svg>
              <span class="menu-item-faq">FAQ</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <a href="#cooperation-section" class="header-main-btn">Order the project</a>

    <button
      type="button"
      class="menu-open-btn"
      data-menuBTN-open
      aria-label="menu open button"
    >
      <svg class="menu-open-btn-icon" width="28" height="28">
        <use href="./img/icons.svg#icon-burger-menu"></use>
      </svg>
    </button>
  </div>

  <div class="header-mob-menu" data-menu>
    <div class="mob-menu-container">
      <button
        type="button"
        class="mob-menu-close-btn"
        data-menuBTN-close
        aria-label="menu close button"
      >
        <svg class="mob-menu-close-btn-icon" width="28" height="28">
          <use href="./img/icons.svg#icon-closed-modal"></use>
        </svg>
      </button>

      <ul class="mob-menu-list" data-menu-list>
        <li class="mob-menu-item">
          <a
            class="mob-menu-link"
            href="#about"
            aria-label="About me"
            alt="About me"
            >About me</a
          >
        </li>
        <li class="mob-menu-item">
          <a
            class="mob-menu-link"
            href="#benefits"
            aria-label="Benefits"
            alt="Benefits"
            >Benefits</a
          >
        </li>
        <li class="mob-menu-item">
          <a
            class="mob-menu-link"
            href="#projects"
            aria-label="Projects"
            alt="Projects"
            >Projects</a
          >
        </li>
        <li class="mob-menu-item">
          <a class="mob-menu-link" href="#faq" aria-label="FAQ" alt="FAQ"
            >FAQ</a
          >
        </li>
      </ul>
      <a
        href="#cooperation-section"
        aria-label="Work together"
        alt="Work together"
        class="header-order-btn"
        data-orderBTN
      >
        Order the project
      </a>
    </div>
  </div>
</header>
