<section class="hero">
  <div class="container-hero">
    <h1 class="hero-title">
      Hello. <br />I’m Fullstack developer Lloyd Jefferson.
    </h1>
    <ul class="hero-list">
      <li class="">
        <a
          href="https://www.instagram.com/goitclub/"
          class="contact-item hero-list-item"
          target="blank"
          >IG</a
        >
      </li>
      <li class="">
        <a
          href="https://www.facebook.com/goITclub/"
          class="contact-item hero-list-item"
          target="blank"
          >FB</a
        >
      </li>
      <li class="">
        <a
          href="https://www.youtube.com/c/GoIT"
          class="contact-item hero-list-item"
          target="blank"
          >YT</a
        >
      </li>
      <li class="">
        <a
          href="https://github.com/AJ-Andrzej/crazy-hunters-js-project"
          class="contact-item hero-list-item"
          target="blank"
          >GH</a
        >
      </li>
      <li class="">
        <a
          href="mailto:lloydjefferson@gmail.com"
          class="email-item hero-email-item"
          >lloydjefferson@gmail.com</a
        >
      </li>
    </ul>
  </div>
</section>
