<section class="hero">
    <div class="container-hero">
        <h1 class="hero-title">Hello. <br />I’m Fullstack developer <br />
            Lloyd Jefferson.</h1>
        <ul class="hero-list">
            <li class="hero-list-item"><a href="https://www.instagram.com/goitclub/" class="contact-item">IG</a></li>
            <li class="hero-list-item"><a href="https://www.facebook.com/goITclub/" class="contact-item">FB</a></li>
            <li class="hero-list-item"><a href="https://www.youtube.com/c/GoIT" class="contact-item">YT</a></li>
            <li class="hero-list-item"><a href="https://github.com/AJ-Andrzej/crazy-hunters-js-project"
                    class="contact-item">GH</a></li>
            <li class="hero-email-item"><a href="mailto:lloydjefferson@gmail.com"
                    class="email-item">lloydjefferson@gmail.com</a></li>
        </ul>
    </div>
</section>