<section class="section" id="projects">
  <div class="container">
    <h2 class="projects-h2">Projects</h2>
    <div class="swiper swiper-project">
      <ul class="projects-list swiper-wrapper">
        <li class="swiper-slide">
          <div class="project-all-div">
            <div class="project-information-div">
              <ul class="project-list-skils">
                <li class="projects-skils">#react</li>
                <li class="projects-skils">#js</li>
                <li class="projects-skils">#node js</li>
                <li class="projects-skils">#git</li>
              </ul>
              <h3 class="projects-h3">
                Programming Across Borders: Ideas, Technologies, Innovations
              </h3>
              <div>
                <a
                  class="project-button"
                  href="https://github.com/AJ-Andrzej/crazy-hunters-js-project"
                  target="_blank"
                  >See project</a
                >
              </div>
            </div>
            <div class="project-photo">
              <picture>
                <source
                  srcset="
                    ./img/project-image-one-tablet.jpg    1x,
                    ./img/project-image-one-tablet@2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="./img/project-image-one-mobile@2x.jpg 2x"
                  media="(max-width: 767px)"
                />
                <img
                  class="project-image"
                  src="./img/project-image-one-mobile.jpg"
                  alt="project-photo"
                />
              </picture>
            </div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="project-all-div">
            <div class="project-information-div">
              <ul class="project-list-skils">
                <li class="projects-skils">#react</li>
                <li class="projects-skils">#js</li>
                <li class="projects-skils">#node js</li>
                <li class="projects-skils">#git</li>
              </ul>
              <h3 class="projects-h3">
                Programming Across Borders: Ideas, Technologies, Innovations
              </h3>
              <div>
                <a
                  class="project-button"
                  href="https://github.com/AJ-Andrzej/crazy-hunters-js-project"
                  target="_blank"
                  >See project</a
                >
              </div>
            </div>
            <div class="project-photo">
              <picture>
                <source
                  srcset="
                    ./img/project-image-two-tablet.jpg    1x,
                    ./img/project-image-two-tablet@2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="./img/project-image-two-mobile@2x.jpg 2x"
                  media="(max-width: 767px)"
                />
                <img
                  class="project-image"
                  src="./img/project-image-two-mobile.jpg"
                  alt="project-photo"
                />
              </picture>
            </div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="project-all-div">
            <div class="project-information-div">
              <ul class="project-list-skils">
                <li class="projects-skils">#react</li>
                <li class="projects-skils">#js</li>
                <li class="projects-skils">#node js</li>
                <li class="projects-skils">#git</li>
              </ul>
              <h3 class="projects-h3">
                Programming Across Borders: Ideas, Technologies, Innovations
              </h3>
              <div>
                <a
                  class="project-button"
                  href="https://github.com/AJ-Andrzej/crazy-hunters-js-project"
                  target="_blank"
                  >See project</a
                >
              </div>
            </div>
            <div class="project-photo">
              <picture>
                <source
                  srcset="
                    ./img/project-image-three-tablet.jpg    1x,
                    ./img/project-image-three-tablet@2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="./img/project-image-three-mobile@2x.jpg 2x"
                  media="(max-width: 767px)"
                />
                <img
                  class="project-image"
                  src="./img/project-image-three-mobile.jpg"
                  alt="project-photo"
                />
              </picture>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="projects-btn-container">
      <button class="projects-prev-btn" type="button">
        <svg class="projects-arrow-left-icon" aria-label="arrow left">
          <use href="./img/icons.svg#icon-arrow-right" />
        </svg>
      </button>
      <button class="projects-next-btn" type="button">
        <svg class="projects-arrow-right-icon" aria-label="arrow right">
          <use href="./img/icons.svg#icon-arrow-right" />
        </svg>
      </button>
    </div>
  </div>
</section>
