<section class="container">
  <h2 class="projects-h2">Projects</h2>
  <div class="project-all-div">
    <div class="project-information-div">
      <ul class="project-list-skils">
        <li class="projects-skils">#react</li>
        <li class="projects-skils">#js</li>
        <li class="projects-skils">#node js</li>
        <li class="projects-skils">#git</li>
      </ul>
      <h3 class="projects-h3">
        Programming Across Borders: Ideas, Technologies, Innovations
      </h3>
      <a
        class="project-button"
        href="https://github.com/AJ-Andrzej/crazy-hunters-js-project"
        target="_blank"
        >See project</a
      >
    </div>
    <div class="project-photo">
      <ul class="swiper-container">
        <li class="swiper-slide">
          <picture>
            <source
              srcset="
                ./img/project-image-one-tablet.jpg    1x,
                ./img/project-image-one-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="./img/project-image-one-mobile@2x.jpg 2x"
              media="(max-width: 767px)"
            />
            <img
              class="project-image"
              src="./img/project-image-one-mobile.jpg"
              alt="project-photo"
            />
          </picture>
        </li>
        <li class="swiper-slide">
          <picture>
            <source
              srcset="
                ./img/project-image-two-tablet.jpg    1x,
                ./img/project-image-two-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="./img/project-image-two-mobile@2x.jpg 2x"
              media="(max-width: 767px)"
            />
            <img
              class="project-image"
              src="./img/project-image-two-mobile.jpg"
              alt="project-photo"
            />
          </picture>
        </li>
        <li class="swiper-slide">
          <picture>
            <source
              srcset="
                ./img/project-image-one-tablet.jpg    1x,
                ./img/project-image-one-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="./img/project-image-one-mobile@2x.jpg 2x"
              media="(max-width: 767px)"
            />
            <img
              class="project-image"
              src="./img/project-image-one-mobile.jpg"
              alt="project-photo"
            />
          </picture>
        </li>
      </ul>
    </div>
  </div>
  <ul class="projects-arrow-list">
    <li class="swiper-button-prev">
      <svg class="projects-arrow transform" aria-label="icon-arrow-left">
        <use href="./img/icons.svg#icon-arrow-right"></use>
      </svg>
    </li>
    <li class="swiper-button-next">
      <svg class="projects-arrow" aria-label="icon-arrow-right">
        <use href="./img/icons.svg#icon-arrow-right"></use>
      </svg>
    </li>
  </ul>
</section>
<!-- <div class="swiper mySwiper">
  <div class="project-photo swiper-wrapper">
    <ul class="swiper-container">
      <li class="swiper-slide">
        <picture>
          <source
            srcset="
              ../img/project-image-one-tablet.jpg    1x,
              ../img/project-image-one-tablet@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="../img/project-image-one-mobile@2x.jpg 2x"
            media="(max-width: 767px)"
          />
          <img
            class="project-image"
            src="../img/project-image-one-mobile.jpg"
            alt="project-photo"
          />
        </picture>
      </li>
      <li class="swiper-slide">
        <picture>
          <source
            srcset="
              ../img/project-image-two-tablet.jpg    1x,
              ../img/project-image-two-tablet@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="../img/project-image-two-mobile@2x.jpg 2x"
            media="(max-width: 767px)"
          />
          <img
            class="project-image"
            src="../img/project-image-two-mobile.jpg"
            alt="project-photo"
          />
        </picture>
      </li>
      <li class="swiper-slide">
        <picture>
          <source
            srcset="
              ../img/project-image-one-tablet.jpg    1x,
              ../img/project-image-one-tablet@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="../img/project-image-one-mobile@2x.jpg 2x"
            media="(max-width: 767px)"
          />
          <img
            class="project-image"
            src="../img/project-image-one-mobile.jpg"
            alt="project-photo"
          />
        </picture>
      </li>
    </ul>
  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-pagination"></div>
</div> -->
