<section class="reviews-section">
  <div class="reviews-wrapper container">
    <h2 class="reviews-title">REVIEWS</h2>

    <div class="reviews-swiper swiper">
      
        <ul class="reviews-main-list swiper-wrapper"></ul>
      
      
        <ul class="reviews-btn-wrapper">
        <li class="reviews-btn-swiper swiper-button-prev">
          <svg
            class="reviews-icon reviews-icon-left">
            <use  href="./img/icons.svg#icon-arrow-right"></use>
          </svg>
        </li>
        <li class="reviews-btn-swiper swiper-button-next ">
          <svg
            class="reviews-icon reviews-icon-right">
            <use  href="./img/icons.svg#icon-arrow-right"></use>
          </svg>
        </li>
      </ul>
    

      
  </div>
</section>