<section class="reviews-section">
  <div class="reviews-wrapper">
    <h2 class="reviews-title">REVIEWS</h2>
    <!-- Slider main container -->
    <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <ul class="reviews-main-list"></ul>
      </div>

      <!-- If we need navigation buttons -->
      <div class="reviews-btn-wrapper">
        <button class="reviews-btn-swiper swiper-button-prev"></button>

        <button
          class="reviews-btn-swiper reviews-is-active-btn swiper-button-next"
        ></button>
      </div>
    </div>
  </div>
</section>
