<section class="reviews-section">
  <div class="reviews-wrapper">
    <h2 class="reviews-title">REVIEWS</h2>

    <div class="swiper">
      
        <ul class="reviews-main-list swiper-wrapper"></ul>
      
      
        <ul class="reviews-btn-wrapper">
        <li class="reviews-btn-swiper swiper-button-prev">
          <svg
            class="reviews-icon-left"
            width="24"
            height="24"
            aria-label="icon-arrow-right"
          >
            <use href=""></use>
          </svg>
        </li>
        <li class="reviews-btn-swiper reviews-is-active-btn swiper-button-next">
          <svg
            class="reviews-icon-right"
            width="24"
            height="24"
            aria-label="icon-arrow-left"
          >
            <use href=""></use>
          </svg>
        </li>
      </ul>
    
  </div>
</section>
