<!-- Footer content -->
<footer class="footer-content container">
  <section id="cooperation-section">
    <div class="footer-title-content">
      <img
        src="./img/footer-foto.jpg"
        alt="Foto loyd Jefferson"
        class="footer-foto"
        width="44"
        height="44"
      />
      <h2 class="footer-title">
        Let's <span class="footer-title-work">work</span>
      </h2>
    </div>
    <h2 class="footer-title">together</h2>
    <div class="footer-form-content">
      <div class="footer-form-container">
        <form id="cooperation-comment-form" class="cooperation-comment-form">
          <label for="email"></label>
          <input
            class="footer-form"
            type="email"
            id="email"
            name="email"
            required
            pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
            placeholder="clients@gmail.com"
          />
          <label for="comment"></label>
          <textarea
            class="footer-form"
            id="comment"
            name="comment"
            rows="4"
            cols="50"
            required
            placeholder="comments"
          ></textarea>
          <button class="footer-btn-form" type="submit">Send</button>
        </form>
      </div>
    </div>

    <address class="footer-address-info">
      <ul class="footer-address-item">
        <li>
          <button class="footer-address-btn">
            <a class="footer-link-address" href="lloydjefferson@gmail.com"
              >lloydjefferson@gmail.com</a
            >
          </button>
        </li>
        <li>
          <button class="footer-address-btn">
            <a class="footer-link-address" href="tel:+3801111111111"
              >+380 11 1111 11 11</a
            >
          </button>
        </li>
      </ul>
    </address>
  </section>

  <!-- Footer Modal window -->

  <div id="footer-modal" class="footer-modal visually-hidden">
    <div class="footer-modal-content">
      <button class="footer-close-btn" type="button">
        <svg
          class="footer-mobile-close-icon"
          width="22"
          height="22"
          aria-label="mobil close icon"
        >
          <use href="./img/----------------"></use>
        </svg>
      </button>
      <h3 class="footer-modal-title">
        Thank you for your interest in cooperation!
      </h3>
      <p class="footer-modal-text">
        The manager will contact you shortly to discuss further details and
        opportunities for cooperation. Please stay in touch.
      </p>
    </div>
  </div>
</footer>
