/* =========about-mobile-style=========== */
.about-section {
    font-family: "Inter Tight", sans-serif;
}

.about-wraper {
    margin-top: 64px;
    margin-bottom: 32px;
}

.about-discription {
    border-radius: 24px;
    height: 500px;

    background: #242527;
    margin-bottom: 16px;
}

.about-discription-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #fafafa;

    padding-top: 32px;
    padding-left: 32px;
    padding-right: 32px;
}

.accent-color-fun {
    color: #ed3b44;
}
.accent-color-web {
    color: rgba(250, 250, 250, 0.4);
}

.about-education-list{
    /* max-height: 68px; */
    overflow: hidden;
    border-bottom: 1px solid rgba(250, 250, 250, 0.2);
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.about-education-container {
    display: flex;
    align-items: center;
    min-width: 100%;
    /* height: 36px; */
    justify-content: space-between;
    margin-bottom: 12px;
}
.about-education-title{
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: rgba(250, 250, 250, 0.4);
}

.about-accordion {
    top: 20px;
    right: 0;
    width: 34px;
    height: 34px;
    padding: 7px;
    border: 1px solid #fafafa33;
    border-radius: 50%;
    background-color: transparent;
    color: #fafafa;
  }

.about-education-text {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 32px;
}

.about-text-list {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: #fafafa;
}

.about-text-role-education {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
}

.about-skills {
    display: flex;
    align-items: center;
    /* overflow: hidden; */
    padding-top: 12px;
    /* margin-bottom: 64px; */

    min-width: 0;
}

.about-skills-list {
    display: block;
    /* min-width: 130px;
    min-height: 130px; */
    border-radius: 50%;
    border: 1px solid rgba(250, 250, 250, 0.2);
}
.skills-list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    /* min-width: 130px;
    min-height: 130px; */
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: #fafafa;
}

/* =========about-mobile-style=========== */

/* =========about-tablet-style=========== */

@media screen and (min-width: 768px) {
    .about-wraper {
        margin-bottom: 64px;
    }

    .about-discription {
        height: 700px;
    }

    .about-discription-title {
        font-size: 38px;
        line-height: 1.05263;
        letter-spacing: -0.03em;

        padding-top: 64px;
        padding-left: 64px;
        padding-right: 64px;
    }

    .about-education-list{
        /* max-height: 72px; */
        padding-bottom: 32px;
        margin-bottom: 32px;
    }

    .about-education-container {
        /* height: 40px; */
    }

    .about-skills {
        padding-top: 32px;
        /* margin-bottom: 96px; */
    }

    .about-skills-list {
        /* min-width: 200px;
        min-height: 200px; */
    }

    .skills-list-item {
        /* min-width: 200px;
        min-height: 200px; */
        font-weight: 500;
        font-size: 20px;
        line-height: 1.5;
        letter-spacing: -0.02em;
        color: #fafafa;
    }
}
/* =========about-tablet-style=========== */

/* =========about-desctop-style=========== */

@media screen and (min-width: 1440px) {
    .about-wraper {
        margin-top: 96px;
        margin-bottom: 96px;

        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: row;
        gap: 16px;
    }

    .about-discription {
        width: 680px;
    }

    .about-education-list{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-bottom: 48px;
    }

    .about-education-text {
        width: 612px;
    }

    .about-text-role-education {
        min-width: 612px;
    }

    .about-skills {
        padding-top: 48px;
        /* margin-bottom: 164px; */
    }
}

/* =========about-desctop-style=========== */