.benefits-h2 {
    color: rgba(250, 250, 250, 0.4);
    font-family: Inter Tight;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -2%;
    text-align: left;
    text-transform: uppercase;
    width: 284px;
    height: 24px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 32px !important;
}

.benefits-all-div{
    display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        gap: 32px;
max-width: 375px;
    margin-left: auto;
    margin-right: auto;
}
.benefits-box{
    display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        gap: 64px;
    border-radius: 20px;
        padding: 24px;
        width: 344px;
        height: 270px;
        background: #242527;
        margin-top: 20px;
}

.benefits-title{
    font: 600 20px / 1.5 "Inter Tight", sans-serif;
        letter-spacing: -0.02em;
        color: #fafafa;
}

.benefits-description{
    font: 500 16px / 1.5 "Inter Tight", sans-serif;
        letter-spacing: -0.02em;
        color: rgba(250, 250, 250, 0.6);
}




/* Стилі з файлу base.css */


body {
    font-family: "Inter Tight", sans-serif;
    background: #1c1d20;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 375px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        max-width: 1440px;
    }
}

