.hero {
    background-image: url(../img/hero-mob-png.png);
    background-repeat: no-repeat;
    background-size: cover;
}


.container-hero {
    max-width: 375px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    height: auto;

}

.hero-title {
    color: rgb(250, 250, 250);
    font-family: Inter Tight;
    font-size: 50px;
    font-weight: 500;
    line-height: 50px;
    letter-spacing: -0.3px;
    text-align: left;
    text-transform: uppercase;
    width: 343px;
    padding-top: 281px;
    padding-bottom: 212px;
}

.hero-list {
    display: flex;
    gap: 4px;
    padding-bottom: 32px;
}

.hero-list-item {
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 60px;
    width: 37px;
    height: 37px;
    padding: 10px 12px 10px 12px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.hero-list-item:hover,
.hero-list-item:focus {
    border: 1px solid rgb(250, 250, 250);
}

.contact-item {
    display: flex;
    color: rgb(250, 250, 250);
    font-family: Inter Tight;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: -0.2px;
    text-align: left;
    justify-content: center;
    align-items: center;

}

.hero-email-item {
    width: 178px;
    height: 37px;
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.hero-email-item:hover,
.hero-email-item:focus {
    border: 1px solid rgb(250, 250, 250);
}

.email-item {
    color: rgb(250, 250, 250);
    font-family: Inter Tight;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: -0.2px;
    text-align: left;
    padding: 10px 12px 10px 12px;
}



@media screen and (min-width: 768px) {

    .hero {
        background-image: url(../img/hero-tab-png.png);
    }

    .container-hero {
        max-width: 768px;
        padding: 32px;
    }

    .hero-title {
        width: 632px;
        font-size: 90px;
        line-height: 90px;
    }

    .hero-list {
        justify-content: flex-end;
        gap: 8px;
    }

    .hero-list-item {
        width: 55px;
        height: 55px;
        padding: 18px 16px;
    }

    .contact-item {
        font-size: 16px;
        line-height: 19px;
    }

    .hero-email-item {
        width: 223px;
        height: 55px;
    }

    .email-item {
        font-size: 16px;
        line-height: 19px;
    }

}

@media screen and (min-width: 1440px) {
    .hero {
        background-image: url(../img/hero-desk-png.png);
    }

    .container-hero {
        max-width: 1440px;

    }

    .hero-title {
        width: 1084px;
        margin-left: auto;
        margin-right: auto;
    }
}