
.projects-h2 {
    color: rgba(250, 250, 250, 0.4);
    font-family: Inter Tight;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -2%;
    text-align: left;
    text-transform: uppercase;
    width: 284px;
    height: 24px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 32px;
}
.transform {
    transform: rotate(180deg);
}
.project-list-skils {
    display: flex;
    gap: 6px;
    margin: 0px 32px 96px 32px;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 32px;
}

.projects-skils {
    box-sizing: border-box;
    border: 1px solid rgba(28, 29, 32, 0.2);
    border-radius: 60px;
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 13px 18px;
    color: rgb(28, 29, 32);
    font-family: Inter Tight;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: -0.02em;
}

.projects-h3 {
    color: rgb(28, 29, 32);
    font-family: Inter Tight;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -3%;
    text-align: left;
    margin-left: 32px;
    margin-right: 32px;
}

.project-button {
    border-radius: 60px;
    width: 141px;
    height: 45px;
    font-weight: 500;
    font-size: 16px;
    background-color: rgb(237, 59, 68);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgb(250, 250, 250);
    font-family: Inter Tight;
    line-height: 19px;
    border: none;
    margin-left: 32px;
    margin-top: 32px;
    margin-bottom: 32px;
    text-align: left;
    letter-spacing: -2%;
}


.project-button:hover,
.project-button:focus {
    background-color: rgb(224, 55, 63);
}

.project-photo {
    border-radius: 0px 0px 24px 24px;
    background: rgb(36, 37, 39);
    max-width: 343px;
    height: 395px;
}

.project-image {
    margin: auto 16px;
    padding: 100px 0;
}

.project-all-div {
    border-radius: 24px;
    background: rgb(250, 250, 250);
}

.projects-arrow {
    border-radius: 60px;
    padding: 14px;
    width: 52px;
    height: 52px;
    border: 2px solid rgb(59, 59, 59);
}
.projects-arrow:hover,
.projects-arrow:focus {
    border: 1px solid rgba(250, 250, 250, 0.5);
    stroke: (250, 250, 250);
}

.projects-arrow-list {
    justify-content: center;
    display: flex;
    gap: 12px;
    margin-top: 32px;
}
/* ==================Tablet start================== */
@media screen and (min-width: 768px) {

    .project-list-skils {
        padding-top: 64px;
        margin-left: 64px;
        margin-bottom: 164px;
    }

    .projects-h3 {
        font-size: 44px;
        line-height: 44px;
        margin-left: 64px;
        width: 550px;
    }

    .projects-skils {
        height: 55px;
        padding: 18px;
    }

    .project-button {
        width: 177px;
        height: 55px;
        margin-left: 64px;
        margin-top: 32px;
        margin-bottom: 64px;
    }

    .project-photo {
        min-width: 704px;
        height: 625px;
    }

    .project-image {
        margin: auto 45px;
        padding: 120px 0;
    }

    .projects-arrow {
        width: 68px;
        height: 68px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 18px;
    }

    .projects-arrow-list {
        gap: 20px;
        margin-top: 64px;
    }
}

/* ==================Tablet end================== */

/* ==================Desctop start================== */
@media screen and (min-width: 1440px) {
    .project-all-div {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        max-height: 625px;
    }

    .project-list-skils {
        margin-bottom: 223px;
    }

    .project-photo {
        border-radius: 0px 24px 24px 0px;
        width: 688px;
        height: 625px;
    }

    .project-image {
        margin: auto 37px;
    }
}
/* ==================Desctop end================== */