.reviews-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);
  margin-bottom: 32px;
}

.reviews-main-list {
  display: flex;
  flex-direction: row;
}

.reviews-item {

  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 20px;
  padding: 32px 24px;
  max-width: 343px;
  height: 302px;
  margin-bottom: 32px;
}

.reviews-avatar {
  border-radius: 10px;
  margin-bottom: 32px;
}

.reviews-item-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa;
  margin-bottom: 8px;
}

.reviews-item-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
}

.reviews-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 32px;

}

.reviews-arrow-right-icon,
.reviews-arrow-left-icon {
  stroke: #fafafa;
}

.swiper-button-disabled {
  border: 1px solid rgba(250, 250, 250, 0.2);
  stroke: #3b3b3b;
}

.reviews-icon {
  width: 24px;
  height: 24px;
}

.reviews-icon-left {
  transform: rotate(180deg);
}

.reviews-swiper {
  width: 343px;
}

.reviews-item {
  cursor: grab;
  height: 330px !important;
}

.reviews-item-error {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  height: 302px;
}

.reviews-text-error {
  color: white;
  font-size: 25px;
}

.reviews-prev-btn {
  border: 1px solid rgba(250, 250, 250, 0.5);
  border-radius: 60px;
  padding: 14px;
  width: 52px;
  height: 52px;
  background-color: transparent;
  transform: rotate(-180deg);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
  cursor: not-allowed;
}

.reviews-next-btn {
  border: 1px solid rgba(250, 250, 250, 0.5);
  border-radius: 60px;
  padding: 14px;
  width: 52px;
  height: 52px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {

  .reviews-prev-btn {
    padding: 18px;
    width: 68px;
    height: 68px;
  }

  .reviews-next-btn {
    padding: 18px;
    width: 68px;
    height: 68px;
  }

  .reviews-icon {
    width: 32px;
    height: 32px;
  }

  .reviews-swiper {
    width: 704px;
  }
}

@media screen and (min-width: 1440px) {
  .reviews-item {
    max-width: 332px;
    height: 326px;
  }

  .reviews-btn-wrapper {
    gap: 20px;
  }

  .reviews-swiper {
    width: 1376px;
  }
}