

.footer-content {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  background: url('../img/footer-background-color.jpg') calc(290px - 100%) top no-repeat, #1c1d20;
  background-size: cover;
}

.footer-title-content {
  display: flex;
  gap: 8px;
  max-width: 343px;
}

.footer-foto {
  border-radius: 12px;
  flex-shrink: 0;
  object-fit: cover;
  width: 44px;
  height: 44px;
}

.footer-title {
  font-weight: 500;
  font-size: 40px;
  line-height: 1;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fafafa;
}

.footer-title-work {
  color: #ed3b44;
}

.cooperation-comment-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
  margin-bottom: 32px;
  margin-top: 63px;
}

.footer-form {
  outline: 0px solid transparent;
  display: flex;
  flex-shrink: 0;
  background-color: transparent;
  resize: none;
  border: none;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  padding: 0;
  padding-bottom: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
  max-width: 340px;
  height: 44px;
  overflow: hidden;
}

.footer-form:hover {
  overflow: hidden;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa;
  stroke-width: 1px;
  border-bottom: 1px solid rgba(250, 250, 250, 0.5);
}

.footer-btn-form {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: #ed3b44;
  border: 1px solid #000;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #fafafa;
  margin-bottom: 64px;
}

.footer-btn-form:hover {
  border-color: #e0373f;
}

.footer-address-item {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.footer-link-address {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #fafafa;
}

.footer-address-btn {
  background-color: transparent;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  padding: 10px 12px;
}

.footer-address-btn:hover {
  border: 1px solid #fafafa;
}

.footer-form-container {
  display: flex;
}

/* footer modal */

.footer-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  top: 25%;
  background: #0e1823;
  opacity: 1;
  visibility: visible;
  /* visibility: hidden;  */
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid rgba(250, 250, 250, 0.1);
  border-radius: 20px;
  padding: 64px 32px;
  max-width: 343px;
  height: 276px;
  background-color: #1c1d20;
}

.footer-modal-title {
font-weight: 600;
font-size: 20px;
line-height: 1.5;
letter-spacing: -0.02em;
text-align: center;
color: #fafafa;
margin-bottom: 16px;
}

.footer-modal-text {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: -0.02em;
text-align: center;
color: rgba(250, 250, 250, 0.6);
}

.footer-close-btn {
  display: flex;
  justify-content: end;
  align-items: center;
  border: none;
  background-color: transparent;
  padding: 0;
  line-height: 0;
  width: 22px;
  height: 22px;
}

.footer-mobile-close-icon {
  display: flex;
  fill: #fafafa;
  width: 22px;
  height: 22px;
}

.footer-modal.open {
  background: rgba(15, 15, 16, 0.6);
}

/*додала клас is-hidden*/
.is-hidden {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
/* Для планшетів */
@media (min-width: 768px) {
  .footer-content {
    padding-top: 85px;
    background: url('../img/footer-background-color.jpg') calc(999px - 100%) top repeat-y, #1c1d20;
    background-size: auto 100%;
  }
 
  .footer-title-content {
    gap: 20px;
    max-width: 542px;
  }

  .footer-foto {
    border-radius: 24px;
    width: 70px;
    height: 70px;
  }

  .footer-title {
    font-size: 64px;
  }

  .cooperation-comment-form {
    flex-direction: row;
    gap: 0;
  }

  .footer-form-content {
    display: flex;
    align-items: baseline;
  }

  .footer-form {
    max-width: 245px;
    margin-right: 51px;
  }

  .footer-btn-form {
    width: 150px;
    height: 150px;
  }

  .footer-address-item {
  gap: 8px;
  }

  .footer-link-address {
    font-size: 16px;
  }

  .footer-address-btn {
    padding: 18px 32px;
  }

  .footer-modal {
    max-width: 492px;
    
  }
}

/* Для настільних пристроїв */
@media (min-width: 1440px) {

  .footer-content {
    justify-content: space-around;
    background: 
    url('../img/footer-background-color.jpg') calc(100% - 150px) top repeat-y,
    #1c1d20;
  background-size: auto 100%;
  }

  .footer-form {
    max-width: 390px;
  }
}
